body {
  background: #f4f8fb;
}

.AlbumsList {
  font-family: sans-serif;
  transition: .5s;

  a {
    text-decoration: none;
    color: #000;
  }
  
  &__list {    
    width: 90%;
    text-align: center;    
    list-style: none;
  }

  &__item {
    align-items: center;;
    vertical-align: top;
    transition: .3s;
    border-bottom: 1px solid silver;
    margin-left: 5%;

    &:hover {      
      transform: perspective(400px) translateZ(50px);   
      background: #250114;   
      color: #fff;
    }

    &:hover .AlbumCard {
      box-shadow: 0px 0px 10px black;
    }
    
    &:hover .AlbumsList__id {
      text-decoration: underline;
    }
  }
}