.TagsDropDown {
  box-shadow: 0px 0px 10px gray;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  min-height: 100px;
  width: 250px;
  position: absolute;    
  text-align: left;
  font-family: sans-serif;

  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    background: #fff;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    font-weight: 100;
    padding: 13px;
    font-size: 20px; 
    cursor: pointer;
    margin: 5px;
    transition: .2s;

    &:hover {
      background: #64869b99;
      color: #fff;
    }
  }
}