.PhotoList {
  font-family: sans-serif;


  &__list {    
    width: 70%;
    margin: auto;
    text-align: center;    
  }

  &__item {
    min-height: 200px;
    width: 250px;
    background: #fff;
    align-items: center;
    display: inline-block;
    margin: 10px;
    vertical-align: top;    
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px silver;
  }
}