body {
  background: #f4f8fb;
}

.AlbumsList {
  font-family: sans-serif;

  &__list {    
    width: 70%;
    margin: auto;
    text-align: center;    
  }

  &__item {
    align-items: center;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    transition: .3s;

    &:hover {      
      transform: perspective(400px) translateZ(50px);      
    }

    &:hover .AlbumsList__album-card {
      box-shadow: 0px 0px 10px black;
    }
    
    &:hover .AlbumsList__id {
      text-decoration: underline;
    }
  }

  &__album-card {
    box-shadow: 0px 0px 10px silver;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background: #fff;
    padding: 10px;
    height: 200px;
    width: 200px;
    cursor: pointer;
    transition: .3s;
    font-size: 21px;
    font-weight: 100;
    margin-bottom: 15px;
  }

  &__id {
    font-weight: 100;
    color: #2e859e;
    border-bottom: 1px solid #f5f5f5;
  }
}